<body>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-vertical-left" style="background-color: #4943B9;">
        <ul class="nav navbar-nav">
          <li>
            <li>
              <div >
                <a  class="one" style="text-decoration: none;">
                  <i class="fa fa-fw fa-lg fa-home" style="color: white;"></i> 
                  <span style="color: white;">&nbsp;&nbsp;&nbsp;Home</span>
                  </a>
              </div>
            </li>

          <li>
            <div class="accordion-item">
              <h2 class="accordion-header">
                
                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseCuatro"  style="background-color: transparent; color: white; border-color:transparent;" >
                 <i class="fa-solid fa-file-circle-plus fa-xl" style="margin-left: -13%; color:white;"></i> &nbsp;&nbsp;&nbsp;Control
                </button>
              </h2>
              <div id="panelsStayOpen-collapseCuatro" class="accordion-collapse collapse ">
                <div class="accordion-body" style="border: 1px solid #514BBB;">
                  <a >
                    <span>Asesor Financiero</span>
                  </a>
                  </div>
              </div>

              <div id="panelsStayOpen-collapseCuatro" class="accordion-collapse collapse ">
                <div class="accordion-body">
                  <a >
                    <span>Sucursal</span>
                  </a>
                  </div>
              </div>
            </div>
          </li>


          <li>
            <div class="accordion-item">
              <h2 class="accordion-header">
                
                <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"  style="background-color: transparent; color: white; border-color:transparent;" >
                  <i class="fa-solid fa-list fa-xl" style="margin-left: -14%; color:white;"></i> &nbsp;&nbsp;&nbsp;&nbsp;Listas
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
                <div class="accordion-body" style="border: 1px solid #514BBB;">
                  <a >
                    <span>Solicitudes</span>
                  </a>
                  </div>
              </div>

              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
                <div class="accordion-body">
                  <a >
                    <span>Personales</span>
                  </a>
                  </div>
              </div>

              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
                <div class="accordion-body">
                  <a >
                    <span>Clientes</span>
                  </a>
                  </div>
              </div>

              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
                <div class="accordion-body">
                  <a >
                    <span>Sucursales</span>
                  </a>
                  </div>
              </div>
            </div>
          </li>

          <li>
            <div class="accordion-item">
              <h2 class="accordion-header">
                
                <button class="accordion-button one" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"  style="background-color: transparent; color: white; border-color:transparent;" >
                  <i class="fa-regular fa-credit-card fa-xl" style="margin-left: -16%; color:white;"></i> &nbsp;&nbsp;&nbsp;Credito
                </button>
              </h2>

              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse ">
                <div class="accordion-body">
                  <a >
                    <span>Crear Credito</span>
                  </a>
                  </div>
              </div>

              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse ">
                <div class="accordion-body">
                  <a >
                    <span>Listar Creditos</span>
                  </a>
                  </div>
              </div>
            </div>
          </li>


          <li>
            <div class="accordion-item">
              <h2 class="accordion-header">
                
                <button class="accordion-button one" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTres"  style="background-color: transparent; color: white; border-color:transparent;" >
                  <i class="fa-solid fa-file-lines fa-xl" style="margin-left: -13%; color:white;"></i> &nbsp;&nbsp;&nbsp;&nbsp;Informe
                </button>
              </h2>

              <div id="panelsStayOpen-collapseTres" class="accordion-collapse collapse ">
                <div class="accordion-body">
                  <a >
                    <span>Solicitudes</span>
                  </a>
                  </div>
              </div>
            </div>
          </li>
      
        </ul>
      </nav>
    </div>
  </div>
</body>