




<!--Some of this HTML is directly from Pavilion.  You can change it to whatever you want if you want to mimic this design.-->
<footer class="flex-rw" style="display: flex;">
  

<ul class="footer-list-top">
  
  <li>
    <h4 class="footer-list-header">Sobre Nosotros</h4></li>
  <li><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Banco su banco</a></li>
  
    
  
</ul>
<ul class="footer-list-top">
  <li>
    <h4 class="footer-list-header">Contenido de la pagina</h4></li>


  <li><a href='#' class="generic-anchor footer-list-anchor">Credito Bancario</a></li>
  <li><img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/image-PhotoRoom.png-PhotoRoom.png?alt=media&token=e3e4512a-c4af-466e-bf91-56f2516dabcf"
    class="img-circle" alt="User Picture" width="10%" height="30%" ></li>
  
</ul>
<ul class="footer-list-top">
  <li id='help'>
    <h4 class="footer-list-header">Ayuda</h4></li>
  <li><a href='#' class="generic-anchor footer-list-anchor" itemprop="significantLink">Contactanos</a></li>
</ul>
<section class=" flex-rw" style="display: flex; margin-top: -3%; margin-left: 15%;">
    <span class="footer-social-overlap footer-social-connect">
    Equipo <span class="footer-social-small">de</span> Trabajo
    </span>
    <span class="footer-social-overlap footer-social-icons-wrapper" style="display: flex;">
      <div class="row" style="margin-left: 35%;">
        <div class="user-picture" style="margin-left: -30%;"  >
        
          <a href="https://www.facebook.com/Enrique.Cueva.OB/photos?locale=es_LA" title="BRYAN ORELLANA">
            <img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/imagenes%2Fbrayan.png?alt=media&token=89ab8084-0575-41f7-877e-c8e93d16f8c4"
            class="img-circle" alt="User Picture" width="100%" height="100%">
          </a>
        </div>
        
        <div class="user-picture" style="margin-left: -30%;" >
          <a href="https://www.facebook.com/profile.php?id=100010987602048&locale=es_LA" title="ALEXIS SIAVICHAY">
            <img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/imagenes%2Falexis.jpg?alt=media&token=40575e2e-8b55-46c7-b8f9-eb36cd5ea886"
            class="img-circle" alt="User Picture" width="100%" height="100%">
          </a>
        </div>
    
        <div class="user-picture" style="margin-left: -30%;" >
          <a href="https://www.facebook.com/Adrisher00?locale=es_LA" title="ADRIAN GUERRERO">
            <img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/imagenes%2Fadrian.jpg?alt=media&token=ef7a92ee-1918-4b8a-b4b6-c62eac341732"
            class="img-circle" alt="User Picture" width="100%" height="100%">
          </a>
        </div>
    
        <div class="user-picture" style="margin-left: -30%;" >
          <a href="https://www.facebook.com/anthony.morocho.332?locale=es_LA" title="ANTHONY MOROCHO">
            <img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/imagenes%2Fantony.jpg?alt=media&token=45a06e94-5520-4077-af9f-4a79fb717843"
            class="img-circle" alt="User Picture" width="100%" height="100%">
          </a>
        </div>
        
        <div class="user-picture" style="margin-left: -30%;" >
          <a href="https://www.facebook.com/johann.arizaga?locale=es_LA" title="JOHANN ARIZAGA">
            <img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/imagenes%2Fjohann.jpg?alt=media&token=0870fad8-e81a-427a-9406-c4e8ccebdfc5"
            class="img-circle" alt="User Picture" width="100%" height="100%">
          </a>
        </div>
    
        <div class="user-picture" style="margin-left: -30%;" >
          <a href="https://www.facebook.com/liz.orellana.5832/photos?locale=es_LA" title="LIZETH ORELLANA">
            <img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/imagenes%2Flizeth.jpg?alt=media&token=3ea43ca1-052d-45f5-bd1f-408d40f2a7f2"
            class="img-circle" alt="User Picture" width="100%" height="100%">
          </a>
        </div>
    
        <div class="user-picture" style="margin-left: -30%;" >
          <a href="https://www.facebook.com/aleevanegas03?locale=es_LA" title="ALEXANDRA VANEGAS">
            <img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/imagenes%2Falexandra.jpg?alt=media&token=6ec0864d-b597-4e10-851e-e8103749fe63"
            class="img-circle" alt="User Picture" width="100%" height="100%">
          </a>
        </div>
    
        <div class="user-picture" style="margin-left: -30%; " >
          <a href="https://www.facebook.com/22ka12/photos?locale=es_LA" title="KAREN YANZAGUANO">
            <img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/imagenes%2Fkaren.jpg?alt=media&token=43aa78d5-d0a6-4dae-9f03-0bb08900195f"
            class="img-circle" alt="User Picture" width="100%" height="90%">
          </a>
        </div>
      </div>
      
    </span>
</section>
<section class="footer-bottom-section flex-rw">
<div class="footer-bottom-wrapper">   
<i class="fa fa-copyright" role="copyright">

</i> &nbsp;&nbsp;&nbsp;2023 Tec Azuay y <address class="footer-address" role="company address">Asociados, EC</address><span class="footer-bottom-rights"> - All Rights Reserved - </span>
  </div>
  <div class="footer-bottom-wrapper">
  <a href="/terms-of-use.html" class="generic-anchor" rel="nofollow">Terms</a> | <a href="/privacy-policy.html" class="generic-anchor" rel="nofollow">Privacy</a>
    </div>
</section>
</footer>