<body class="elemento" style="position: static;">
 
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="width: 70%; margin:auto;">
    <div class="carousel-inner">
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/publicidad%2Fmejorar-atencion-al-cliente-entidades-bancarias-y-financieras-ampliar-canales.jpg?alt=media&token=c47ffe7f-2c3f-4cf1-af06-6d8d4ed5f5fe" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/publicidad%2FImageHandler.jpg?alt=media&token=17a8566f-5e08-4534-8519-dbfe1981cfd1" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/publicidad%2Fatencion.jpg?alt=media&token=466fe79b-b6a6-4f46-a710-813758263680" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/su-banco.appspot.com/o/publicidad%2Fcredito.jpg?alt=media&token=388bf0ba-14e0-4f68-938e-ceab926045e0" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div style="position: static; margin: auto; width: 70%; margin-top: 5%; margin-bottom: 5%;">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <i class="fa-solid fa-piggy-bank fa-2xl icono"></i>
        <div class="card-body">
          <h5 class="card-title"> Ahorro Flexible</h5>
          <p class="card-text" style="text-align: center;">Gana 5% de interes y ten tu dinero siempre disponible.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <i class="fa-solid fa-sack-dollar fa-2xl icono" ></i>
        <div class="card-body">
          <h5 class="card-title">Prestamo</h5>
          <p class="card-text" style="text-align: center;">Solicita tu préstamo y ontén una respuesta inmediata.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <i class="fa-solid fa-shield-halved fa-2xl icono" ></i>
        <div class="card-body">
          <h5 class="card-title">Seguro</h5>
          <p class="card-text" style="text-align: center;">Encuentra el plan ideal con cobertura que buscas.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>